@import '../../breakpoints';

$smallMedia: 800px;

.headerWrapper {
	padding: 50px var(--bodyPadding);
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	margin-left: calc(var(--bodyPadding) * -1);
	background: linear-gradient(180deg, rgba(255,252,243,1) 0%, rgba(255,252,243,1) 70%, rgba(255,252,243,0) 100%);
}

.logo {
	width: 70px;
}

@media screen and (max-width: $smallMedia) {

.logo {
	width: 50px;
}
}	

