<footer>
	<div class="meFooter">
		<a href="#header" class="logo imgHover">
			<img src="assets/img/logo.png" alt="">
		</a>
		<p>&copy; Martin Buder 2023</p>
	</div>
	<div class="bsideFooter">
		<div class="socialImgWrapper">
			<a href="https://github.com/martinBuder" target="_blank" rel="noopener noreferrer">
				<img src="assets/img/social/github.png" alt="">
			</a>
			<a href="#contact" target="" rel="noopener noreferrer">
				<img src="assets/img/social/contact.png" alt="">
			</a>
			<a href="https://www.linkedin.com/in/martin-buder-b3445b282/" target="_blank" rel="noopener noreferrer">
				<img src="assets/img/social/linkedin.png" alt="">
			</a>
		</div>
		<a href="/legalNotice.html" rel="noopener noreferrer" class="footerSubLink">Legal notice</a>
	</div>
</footer>
