<footer>
	<div class="meFooter">
		<a href="" class="logo imgHover">
			<img src="assets/img/logo.png" alt="">
		</a>
		<p>&copy; Martin Buder 2023</p>
	</div>
	<div class="bsideFooter">
		<div class="socialImgWrapper">
			<a href="http://" target="_blank" rel="noopener noreferrer">
				<img src="assets/img/social/github.png" alt="">
			</a>
			<a href="http://" target="_blank" rel="noopener noreferrer">
				<img src="assets/img/social/contact.png" alt="">
			</a>
			<a href="http://" target="_blank" rel="noopener noreferrer">
				<img src="assets/img/social/linkedin.png" alt="">
			</a>
		</div>
		<a href="/legalNotice.html" target="_blank" rel="noopener noreferrer">Legal notice</a>
	</div>
</footer>
