<div class="aboutmeWrapper">
	<h2>About me</h2>
	<div class="aboutContent">
		<div class="aboutText">
			<p>
				"I am an experienced web developer skilled in JavaScript & Angular.<br> My passion for web development began while maintaining my former employer's website using a Content Management System (CMS). As the website's demands grew beyond the CMS's capabilities, I ventured into web development independently.<br>

				Coding brings me immense joy, motivating me to pursue a career in software development. I completed my software developer training in August 2023. With a blend of solo and team project experiences, I eagerly look forward to tackling new challenges.
				<br><br>
				If you believe I'd be a great addition to your projects, feel free to reach out!"
			</p>
			<div class="btnContainer">
				<a href="#contact">
					<button>Let's talk</button>
				</a>
			</div>
		</div>
		<div class="meImg">
			<img src="assets/img/meSmall.png" alt="">
		</div>
	</div>
</div>
