@import '../../breakpoints';

.aboutContent {
	display: flex;
	justify-content: space-between;
	gap: 60px
}

.aboutText {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.meImg {
	width: 42%
}

@media screen and (max-width: $smallMedia) {
	.btnContainer {
		position: absolute;
		top: 70vh;
		left: 50%;
		transform: translateX(-50%);
  min-width: min-content;
		white-space: nowrap;
	}

	.aboutContent {
		flex-direction: column;
		margin-top: 30px;
	}

	.meImg {
		width: 100%;
	}
}