
.triangleContainer {
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: calc(100vw - 10px) solid transparent; //10px is scroll barwidth
	border-bottom: 200px solid var(--colorDark);
	margin-left: calc(var(--bodyPadding) * -1);
}

.contactContainer {
	background-color: var(--colorDark);
	width: calc(100% + var(--bodyPadding) + var(--bodyPadding));
	margin-left: calc(var(--bodyPadding) * -1);
	color: var(--colorLight);
	padding: 0 var(--bodyPadding);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	position: relative;
	
	p {
		font-family: var(--fontHeader);
	}
}

h2 {
	width: 100%;
	text-align: left;
}

h4 {
	color: var(--colorHighlight);
}

form {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 50px;
	margin-top: 50px;

	input, textarea {
		width: 100%;
		background-color: var(--colorDark);
		border-style: none;
		border-bottom: 2px solid var(--colorLight);
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		padding: 10px;
		outline: none;
		color: var(--colorLight);
		font-size: 1.2rem;
		font-family: var(--fontText);

		&:hover, &:focus {
			border: 2px solid var(--colorLight);
		}

				&:focus {
					&::placeholder {
						color: transparent;
					}
				}

				&::placeholder {
					color: var(--colorLight);
					font-size: 1.2rem;
				}
	}

		
	}

	.fieldWrapper {
		position: relative;
		width: 100%;

		div {
			display: none;
			position: absolute;
			top: -10px;
			background: var(--colorDark);
			padding: 0 10px;
			margin-left: 10px;
		}
	}

.fieldWrapper:focus-within div {
 display: block;
}

textarea {
	height: 20vh;
}

button {
	color: var(--colorLight);
	width: min-content;
	white-space: nowrap;
	border-color: var(--colorLight);
	align-self: center;
}

.upArrow {
	position: absolute;
	right: var(--bodyPadding);
	bottom: 50px;
	color: var(--colorLight);
	overflow-y: hidden;
	height: 3.5rem;
	transition: all 128 ease-in-out;

	&:hover {
		height: 5rem;
		transition: all 256 ease-in-out;
	}


	p {
		font-size: 5rem;
		transform-origin: bottom;
		max-height: max-content;
		font-family: var(--fontText);
		line-height: 5rem;
	}

}
