@import '../../breakpoints';

nav {
	cursor: pointer;
}

	span {
		display: block;
		width: 32px;
		height: 4px;
		margin-bottom: 6px;
		position: relative;
		background: #000;
		border-radius: 3px;
		z-index: 2;
		transform-origin: 3px 2px;
		transition: all 600ms ease-in-out;

			&:first-child {
				transform-origin: 0% 50%;
			}

			&::nth-last-child(2) {
				transform-origin: 0% 50%;
			}
	}

	.showMenu {
			 span {
					opacity: 1;
					transform: rotate(45deg);
					
					&:nth-last-child(1) {
						transform: rotate(-45deg);
					}
					
					&:nth-last-child(2) {
						opacity: 0;
						transform: rotate(0deg) scale(0.2, 0.2);
					}
		}
	}

	.noShowMenu + .menuContent {
		display: flex;
		animation: menuGoes 500ms ease-in-out backwards;
	}

	.showMenu + .menuContent {
		display: flex;
		animation: menuComes 500ms ease-in-out forwards;
	}

	.menuContent{
		cursor: auto;

		a {
			cursor: pointer;
		}
	}
		.aWrapper {
			position: relative;
			width: 50%;
			height: 15vh;
			overflow: hidden;

			a {
				position: absolute;
				bottom: 5px;
				left: 5px;
				right: 5px;
				top: 5px;
				font-size: 5rem;
				font-family: var(--fontHeader);
				display: block;
				text-align: center;
				background-color: var(--colorLight);
			}

			.customBorder {
				position: absolute;
				bottom: 0;
				left: 0;
				background: var(--colorDark);
				height: 50px;
				width: 50px;
			}

			&:hover {
				.customBorder {
					animation: underlineAnimation 800ms ease-in-out forwards;
					width: 40%;
				}
			}
	}


#menuToggle.showMenu + .menuContent .aWrapper:hover {
	.customBorder.fullBorder {
		animation: underlineAnimation 800ms ease-in-out backwards;
		height: 100% !important;
		}
	}

	@keyframes menuComes {
		to{
			transform: translateY(0);
		}
	}

	@keyframes menuGoes {
		from{
			transform: translateY(0);
		}
	}

	.menuContent {
		position: absolute;
		top: 125px;
		left: 0;
		right: 0;
		padding: 0 var(--bodyPadding);
		height: calc(100vh - 125px);
		background-color: var(--colorLight);
		flex-direction: column;
		justify-content: center;
		gap: 3rem;
		align-items: center;
		transform: translateY(110vh);
	}

	.triangle {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		border-left: 0px solid transparent;
		border-right: 60vw solid transparent; 
		border-bottom: 80px solid var(--colorDark);
	}

	@keyframes underlineAnimation {

		10% {
			height: 5px;
		}

		50% {
			width: 100%;
			height: 5px;
		}

		100% {
			width: 40%;
			left: 60%;
			height: 5px;
		}
	}

	@media screen and (max-width: $betweenMedia) {

		.aWrapper {
			width: 70%;
			height: 10vh;

			a{
			font-size: clamp(2.5rem, -0.4545rem + 7.2727vw, 5rem);
		} 

	}	
}

	@media screen and (max-width: $smallMedia) {

		.span {
			height: 2px;
		}

		.triangle {
			border-right-width: 100vw;
			border-bottom-width: 40px;
		}

		.menuContent {
			top: 90px;
			height: calc(100vh - 90px);
			width: 100%;
		}

		.aWrapper {
			width: 80%;
			height: 10vh;

			a {
				font-size: 2.5rem;
			}
		}
	}

	
	
