
<div class="cardBackgroundWrapper">

	<div class="wrapper-card-button>">
		<section id="card">
						<ul class="ul-card">
										<li class="li-card">
														<div class="front border-blink-shadow">
																		<div class="card-inhalts-wrapper">
																						<h3 class="color-dys">.dys &lcub;                                                    
																						</h3>
																										<h3 class="card-sub-text">
																										design<br>
																										your<br>
																										stage
																										</h3>
																										<h3 class="color-dys">&rcub;</h3>
																						
																						<h4 class="h2-card">
																										&lt;!&minus;&minus;created by <br>
																										Martin Buder&minus;&minus;&gt;
																						</h4>
																		</div>
														</div>
														<div class="back border-blink-shadow">
																						<address class="card-inhalts-wrapper">
																							<span>
																								<span class="card-back">
																								.name &lcub; </span><br>
																												Martin Buder;<br>
																								<span class="card-back">&rcub;</span>
																							</span>
																							<span>
																								<span class="card-back">        
																								.address &lcub;</span><br>
																												Koglkopfstr. 1;<br>
																												83707 Bad Wiessee;<br>
																								<span class="card-back">&rcub;<br></span>
																						</span>
																						<span>
																							<span class="card-back">
																							.telefon &lcub; </span><br>
																											<a href="tel:+4915128997385">01512 8997385</a>;<br>
																							<span class="card-back">&rcub;<br></span>
																					</span>

																						<span>
																							<span class="card-back">
																							.email &lcub; </span><br>
																											<a href="mailto:martin.buder@designyourstage.com" target="_blank">martin.buder<br>@designyourstage.com;</a><br>
																							<span class="card-back">&rcub;</span><br>
																					</span>

																		</address>
														</div>
										</li>
						</ul>
		</section>
	</div>
</div>
