@import '../../breakpoints';

.portfolioWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerSpace {
	width: 520px;
}

.projects {
	width: 100%;
}

app-project {
	display: flex;
	gap: 100px;
	margin-top: 150px;
	position: relative;

}

app-project > a {
	display: block;
	position: relative;
}

app-project:nth-child(2n) {
	flex-direction: row-reverse;
}

@media screen and (max-width: $betweenMedia) {
	app-project, app-project:nth-child(2n) {
		flex-direction: column;
		gap: 50px;
	}

	.headerSpace {
		width: 100%;

		h4 {
			width: 80%;
		}
	}
}

@media screen and (max-width: $smallMedia) {
	app-project, app-project:nth-child(2n) {
		flex-direction: column;
		gap: 50px;
	}

	.headerSpace {
		width: 100%;
	}

	h4 {
		margin-top: 30px;
		font-size: 1rem;
		font-weight: 300;
	}
}
