.portfolioWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerSpace {
	width: 520px;
}

.projects {
	width: 100%;
}

app-project {
	display: flex;
	gap: 100px;
	margin-top: 150px;
	position: relative;

	&:hover {
		.imgBorder {
			opacity: 1;
		}
	}
}

app-project > a {
	display: block;
	position: relative;
}

app-project:nth-child(2n) {
	flex-direction: row-reverse;
}
