@import '../../breakpoints';

.teaserWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	height: 100svh;
	position: relative;


	.teaserTextContainer {

			h1 {
				width: 100%;
				text-align: center;
				font-size: 12rem;
			}

			.subHeader {
				display: flex;
				align-items: center;
				padding: 0 30px;
				gap: 20px;
			}

			h2 {
				font-size: 2.5rem;
				color: var(--colorHighlight);
			}

			.line {
				background-color: var(--colorDark);
				height: 4px;
				flex: 1;
			}

	}

	.teaserMail {
		left: 0;
		transform-origin: 0;
		transform: rotate(-90deg);
		color: var(--colorDark);
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: 500;

			&:hover {
				color: var(--colorHighlight);
			}
	}

	.sublineContainer {
		height: 50px;
	}

	.subline {
		font-size: 3rem;
		animation: flyIn 6s ease-in;
		margin-top: 50px;
		font-family: var(--fontHeader);
	}
}

@keyframes flyIn {
	0% {
		transform: scale(0.2);
		opacity: 0;
	}

	35% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}

.teaserMail, .scrollDownContainer {
	display: block;
	position: absolute;
	bottom: 50px;
	text-decoration: none;
}

	.scrollDownContainer {
		right: 0;
		max-height: max-content;
		line-height: 1rem;
		padding: 20px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		margin-bottom: -20px;
		margin-right: -20px;

		&:hover {
			transform: scale(0.9);
			box-shadow: inset 0.5px 0.5px 0.5px 0.5px rgba($color: #2a324b, $alpha: 0.4);
			transition: all 128ms ease-in-out;
		}
	}

	@keyframes arrowSlideDown{
		from{
			transform: translateY(-100px);
		}

		to {
			transform: translateY(100px);
		}
	}

	@media screen and (max-width: $mediumMedia) {
	
	
		.teaserWrapper .teaserTextContainer {
	
			h1 {
				font-size: clamp(5rem, 0.0588rem + 13.1765vw, 12rem);
			}

			h2 {
				font-size: clamp(1.7rem, 1.1353rem + 1.5059vw, 2.5rem);
			}

	}

	.teaserWrapper {

		.subline {
			font-size: clamp(1.7rem, 0.7824rem + 2.4471vw, 3rem);
			max-width: 100vw;
			text-align: center;
			white-space: nowrap;
		}
	}
}

@media screen and (max-width: $smallMedia) {
	

	
	.teaserWrapper .teaserTextContainer {
		

		h1 {
			font-size: 3rem;
			margin-top: -20vh;
		}

		h2{
			font-size: 0.9rem;
			width: 45%;
		}

		.line {
			height: 2px;
		}

		.subHeader {
			padding: 0 10px;
			gap: 10px;
		}
	}

	.teaserWrapper {

		.subline {
			font-size: 1.2rem;
			margin-top: 30px;
		}

		.teaserMail {
			font-size: 1rem;
			font-weight: 300;
		}
	}

	.scrollDownContainer {
		bottom: 30px;
	}

	.teaserMail {
		bottom: 20px;
	}	
}


