<div class="teaserWrapper">
	<div class="teaserTextContainer">
		<h1>Frontend<br>Developer</h1>
		<div class="subHeader">
			<div class="line"></div>
			<h2>Martin Buder</h2>
		</div>
	</div>
	<div class="sublineContainer">
		<p *ngIf="showSubline" class="subline">{{subline[currentSub]}}</p>
	</div>

	<a href="mailto:martin.buder@designyourstage.com" target="_blank" class="teaserMail">martin.buder@designyourstage.com</a>
	<div class="scrollDownContainer">
		<a href="#about">
			<p>Scroll<br>Down</p>
		</a>
	</div>

</div>
