.skillsWrapper {
	border: 4px solid var(--colorDark);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	padding: 10% 10% 0 0;



	h2 {
		position: absolute;
		top: -4rem;
		left: 50%;
		background-color: var(--colorLight);
		padding: 10px 20px;
		transform: translateX(-50%);
	}
}

.skillContainer {
	width: 10%;
	margin: 0 0 10% 10%;
}