<a href="{{ project.weblink }}" target="blank" class="imgHover projectImg">
	<img src="assets/img/projects/{{ project.img }}.png"  alt="">
	<div class="imgBorder">
		<img src="assets/img/arrow.png" alt="">
	</div>
</a>
<div class="projectDescription">
	<span class="numbering">{{ (i < 9 ? '0' : '') + (i + 1) }}/{{ (i < 10 ? '0' : '') + projectsAmount }} </span>
	<h3>{{ project.title }}</h3>
	<h4>{{ project.codeElements }} </h4>
	<p>{{ project.description }}</p>
	<a href="{{ project.githubLink }}" target="_blank"><button class="btnContainer">Github</button></a>
</div>
