.projectImg {
	width: 50%;
	position: relative;
	aspect-ratio: 4/3;

.hoverText {
		position: absolute;
		bottom: 15px;
		left: calc(50% + 20px);
		transform: translateX(-50%);
		background-color: var(--colorDark);
		color: var(--colorNuance);
		padding: 10px 20px;
		font-size: 1.2rem;
		display: none;
		border: 2px solid var(--colorHighlight);
	}

	&:hover {
		.hoverText {
			display: block;
		}
	}
}

.projectDescription {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;

	a {
		text-decoration: none;
		margin-top: 10px;
	}
}

.projectArea {
	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	height: 100%;
}

.imgBorder {
	position: absolute;
	top: 20px;
	bottom: -20px;
	left: 20px;
	right: -20px;
	border: 4px solid var(--colorDark);
	z-index: 1;
	display: none;

		img {
			width: 5vw;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(50%, -50%);
			transform-origin: center;
			animation: rotateArrow 500ms forwards;
		}

		@keyframes rotateArrow {
			to {
				transform: translate(50%, -50%) rotate(-135deg);
			}
		}
}

.numbering {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 3rem;
	font-weight: 500;
}

:host-context(app-project:nth-child(2n)) .numbering {
	left: 0;
}

:host-context(app-project:nth-child(2n)) .hoverText {
	left: calc(50% - 20px);
}

:host-context(app-project:nth-child(2n)) .imgBorder {
	left: -20px;
	right: 20px;

		img {
			right: 100%;
			animation: rotateArrow2 500ms forwards;
		}

		@keyframes rotateArrow2 {
			to {
				transform: translate(50%, -50%) rotate(135deg);
			}
		}
}

:host-context(app-project:hover) .projectArea {
	display: flex;
	opacity: 0;
	transform: translateX(-100%);
	animation: projectSlide 300ms ease-in-out forwards;
}

:host-context(app-project:nth-child(2n):hover) .projectArea {
	transform: translateX(100%);
}


@keyframes projectSlide {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

:host-context(app-project:hover) .imgBorder, :host-context(app-project:hover) .imgHover {
	display: block;
	filter: grayscale(0);
}

h4 {
	font-weight: 100;
	color: var(--colorHighlight)
}





