@import '../../breakpoints';

.projectImg {
	width: 50%;
	position: relative;
	aspect-ratio: 4/3;


.hoverText {
		position: absolute;
		bottom: 15px;
		left: calc(50% + 20px);
		transform: translateX(-50%);
		background-color: var(--colorDark);
		color: var(--colorHighlight);
		padding: 10px 20px;
		font-size: 1.2rem;
		display: none;
		border: 2px solid var(--colorHighlight);
	}

	&:hover {
		.hoverText {
			display: block;
		}
	}
}

.inProgressImg {
	position: absolute;
	inset: 0;
	margin: -30px auto;
	width: 40%;
	transform-origin: 50% 5%;
	animation: rotateIn 1200ms forwards ease-in-out;
}

:host-context(app-project:hover) .inProgressImg {
	animation: rotateOut 1200ms forwards ease-in-out;
}

@keyframes rotateOut {

	80% {
		z-index: -1;
	}

	100% {
		transform: rotateZ(-360deg);
		z-index: -1;
	}
}

@keyframes rotateIn {

	0% {
		z-index: -1;
	}

	20% {
		z-index: -1;
	}

	90% {
		z-index: 2;
	}

	100% {
		transform: rotateZ(360deg);
		z-index: 2;
	}
}



.projectDescription {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	cursor: auto;
	

	a {
		text-decoration: none;
		margin-top: 10px;
	}

	h4 {
		line-height: 80%;
		margin: 10px 0;
	}

}

.projectArea {
	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	height: 100%;
}

.imgBorder {
	position: absolute;
	top: 20px;
	bottom: -20px;
	left: 20px;
	right: -20px;
	border: 4px solid var(--colorDark);
	z-index: 1;
	display: none;

		img {
			width: 5vw;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(50%, -50%);
			transform-origin: center;
			animation: rotateArrow 500ms forwards;
		}

		@keyframes rotateArrow {
			to {
				transform: translate(50%, -50%) rotate(-135deg);
			}
		}
}

.numbering {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 3rem;
	font-weight: 500;
}

:host-context(app-project:nth-child(2n)) .numbering {
	left: 0;
}

:host-context(app-project:nth-child(2n)) .hoverText {
	left: calc(50% - 20px);
}

:host-context(app-project:nth-child(2n)) .imgBorder {
	left: -20px;
	right: 20px;

		img {
			right: 100%;
			animation: rotateArrow2 500ms forwards;
		}

		@keyframes rotateArrow2 {
			to {
				transform: translate(50%, -50%) rotate(135deg);
			}
		}
}

:host-context(app-project:hover) .projectArea {
	display: flex;
	opacity: 0;
	transform: translateX(-100%);
	animation: projectSlide 300ms ease-in-out forwards;
}

:host-context(app-project:nth-child(2n):hover) .projectArea {
	transform: translateX(100%);
}


@keyframes projectSlide {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

:host-context(app-project:hover) .imgBorder, :host-context(app-project:hover) .imgHover {
	display: block;
	filter: grayscale(0);
}

h4 {
	font-weight: 100;
	color: var(--colorHighlight)
}


@media screen and (max-width: $betweenMedia) {

.projectImg {
	width: 65%;
	margin-right: 10%;
}

:host-context(app-project:nth-child(2n)) .projectImg {
	margin: 0 0 0 auto;
}

.imgBorder, .projectImg .hoverText {
	display: block;
}

.projectImg .hoverText {
	font-size: 1rem;
	white-space: nowrap;
	padding: 5px 10px;
	bottom: -0.5rem;
}

.numbering {
	top: -3rem;
	font-size: 2rem;
}

.projectArea {
	display: flex;
	height: 200px;
	gap: 20px;
	transform: translateX(0);
}

:host-context(app-project:nth-child(2n)) .projectArea {
	align-items: flex-end;

	p {
		text-align: right;
	}
}

:host-context(app-project:hover) .projectArea, :host-context(app-project:nth-child(2n):hover) .projectArea {
	animation: none;
	transform: translateX(0);
	opacity: 1;
}

h4{
	font-size: 0.9rem;
}

}

@media screen and (max-width: $smallMedia) {

	.projectImg {
		width: 90%;
	}

	.numbering {
		font-size: 1.5rem;
	}

	:host-context(app-project:nth-child(2n)) .projectImg {
		margin-left: 10%;
		margin-right: 0;
	}

	h3 {
		margin-top: 50px;
	}

	h4 {
		font-size: 0.8rem;
		font-weight: 200;
	}

}





