@import 'breakpoints';
	
	@font-face {
		font-family: 'Source Code Pro';
		src: url(assets/font/SourceCodePro-Medium.ttf);
	}

	@font-face {
		font-family: 'Heebo';
		src: url(assets/font/Heebo-VariableFont_wght.ttf);
	}

:root {
	--colorDark: #2a324b;
	--colorNuance: #f4d35e;
	--colorHighlight: #6ecccc;
	--colorLight: #fffcf3;
	--bodyPadding: 150px;
	--maxWidth: 1600px;
	--fontHeader: 'Source Code Pro', monospace;
	--fontText: 'Heebo', sans-serif;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ! Scrollbar */
::-webkit-scrollbar-button {
	height: 5px;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: var(--colorLight);
}

::-webkit-scrollbar-thumb {
	background-color: var(--colorDark);
	background-clip: padding-box;
	border-radius: 5px;
}


html {
	scroll-behavior: smooth;
	min-width: 100%;
}

body {
	background-color: var(--colorLight);
	padding: 0 var(--bodyPadding);
	color: var(--colorDark);
	font-family: var(--fontText);
}

h1, h2, h3, h4 {
	font-family: var(--fontHeader);
}

h2 {
	font-size: 6rem;

	&:hover {
		color: var(--colorHighlight);
	}
}

h3 {
	font-size: 3.5rem;
}

h4 {
	font-size: 1.4rem;
}

p {
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: var(--colorDark);
}

button {
	font-size: 1.2rem;
	font-family: var(--fontHeader);
	padding: 10px 30px;
	border: 4px solid var(--colorDark);
	color: var(--colorDark);
	background: none;
	cursor: pointer;
	transition: all 128ms ease-in-out;

	&:hover {
		padding: 10px 60px;
		transition: all 128ms ease-in-out;
		font-weight: 700;
	}
}

.btnContainer {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
	height: auto;
}

.imgHover {
	filter: grayscale(0.9);
	cursor: pointer;
	transition: all 128ms ease-in-out;


	&:hover{
		filter: grayscale(0);
		transition: all 128ms ease-in-out;

	}
}

@media (max-width: $smallMedia) {
	
	:root {
		--bodyPadding: 30px;
	}

	::-webkit-scrollbar-thumb {
		display: none;
	}
	
	h2 {
		font-size: 2.1rem;
		width: 100%;
		text-align: center;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	p, button {
		font-size: 0.9rem;
	}

	.imgHover {
		filter: grayscale(0);
	}
}



